<%- include("partials/navbar.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles/homepage.css" rel="stylesheet">
</head>
<body>
   <main>
    <div id="slideshow">
        <div class="slide-wrapper">
            <% for(i=1;i<4;i++){%>
            <div class="slide">
                <h1 class="slide-number">
                   <div class="card-container"> 
                    <div class="card">
                        <img class="card-pic" src="<%=images[i].main_img%>/main/aa.png">
                        <span class="caption"><%= product[i].name%></span>
                        <div class="links">
                         <a class="card-link" href="product/<%=product[i].id%>">LEARN MORE</a>
                         <a class="card-link" href="buy">BUY</a>
                        </div>
                    </div>
                    <div class="spec-card">
                      <ul class="spec-list">  
                        <% product_description.forEach(element => {
                            if(element.id==product[i].id){ %>
                      <li class="spec-item">  <%= element.spec %></li>
                      <%}}) %>
                      </ul>
                    </div>
                </div>
                </h1>
            </div>
            <% } %>
   
        </div>
    </div>

    <% const deals= product.splice(-4);
        const im= images.splice(-4);
    %>


  <div class="bestsellers_main_container today_main_container">
    <header class="bestsellers_heading today_heading">
        TODAYS DEALS
    </header>
    <div class="bestsellers_container today_container">
        <% for(i=2;i<4;i++){%>
                <a href="product/<%=deals[i].id%>">

        <div class="bestseller today">
            <div class="bestseller_img">
                <img src="<%=im[i].main_img%>/main/a.png" alt="bestseller3" width="auto" height="150px">
            </div>
            <div class="bestseller_info today_info">
                <%= deals[i].name%>
                    <br>
                    <%= deals[i].price%>
            </div>
        </div>
        </a>
        <% }%>


        
    </div>
</div>

<% var others= product %>
<% var t= images %>


  <div class="bestsellers_main_container">
        <header class="bestsellers_heading">
            BEST SELLERS
        </header>
        <div class="bestsellers_container">
            <% for(i=2;i<4;i++){%>
            <a href="product/<%=others[i].id%>">


            <div class="bestseller">
                <div class="bestseller_img">
                    <img src="<%=t[i].main_img%>/main/a.png" alt="bestseller3" width="auto" height="150px">
                </div>
                <div class="bestseller_info">
                    <%= others[i].name%>

                </div>
                <%= others[i].price%>

            </div>
            </a>
            <% }%>

        </div>

    </div>

    <div class="why_container">
        <div class="why_header">
            <div class="why"><span class="text">WHY</span><div class="text2">?</div><br> <span style="font-weight: bolder; position: relative;top:-40px">GIZMO groove</span></div>
            <div class="reason_why">
                Gizmo Groove stands out as your premier destination for all things gadget-related. 
                With a vast selection of products ranging from cutting-edge electronics to timeless 
                classics, we cater to every tech enthusiast's needs. Our commitment to quality ensures 
                that each item we offer has been carefully curated from reputable manufacturers, 
                guaranteeing reliability and performance that exceeds expectations. 
                What's more, our competitive pricing strategy ensures that you get the best value 
                for your money, without compromising on quality.
                <br><br>
             
        </div>
    </div>


</main>
</body>
<style>
    
</style>
</html>


