<%- include("partials/navbar.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/styles/product.css" rel="stylesheet">

</head>
<body>
    <main>
        <% var source= image %>

    <div class="card-container">
        <div class="product-card">
            <div class="product-picture">
                <img class="pro" src="<%=source%>/main/a.png">

            </div>
            <div class="product-alternate-pictures">  
                <div class="alt"><a class="alt-pic" href="#"><img src="<%=source%>/main/a.png"></div></a>
                <div class="alt"><a href="#" class="alt-pic"><img src="<%=source%>/main/aa.png"></div></a>
             

            </div>
            <div class="product-name">
                <%=details.name %><span class="seller"><%=details.brand %></span>
            </div>
            <div class="product-description">
                    <h1>Specifications:</h1>
                    <ul>
                        <% spec.forEach((element)=>{%>
                      <li><strong><%= element.specname %>:</strong><%= element.spec %></li>
                        <% })%>
                    </ul>
                  
            </div>
            <div class="buy-card">
                <div class="price"><%=details.price %></div>
                <div class="user-address">Ship to <span class="address">address</span></div>
                <div class="details">
                    <div class="ship-from">Ships from Gizmo Groove</div>
                    <div class="sold-by">Sold by <%=details.brand %></div>
                </div>
                <div class="buttons">
                    <form action="/product" method="post">
                        <input type="hidden" name="product_id" value="<%= details.id%>">
                        <div class="b">
                        <button value="add" class="buy add">Add to cart</button>
                        </div>
                    </form>
                    <form action="/shop" method="post">
                        <input type="hidden" name="product_id" value="<%= details.id%>">
                        <div class="bb">
                            <button value="buy-now" class="buy-now">Buy now</button>
                        </div>
                    </form>

                </div>
            </div>
               
        </div>

        <!--  
        <div class="reviews">
            <div class="rev-container">
                <div class="username">hrigdev</div>
                <div class="comment">good</div>
            </div>
               <div class="img-container1"><img src="/images/d.png"></div>
            <div class="img-container2"><img src="/images/g.png"></div>
            <div class="img-container3"><img src="/images/gg.png"></div>
        </div>-->

        </div>
        <div class="c">
        <div class="cont">
            <div class="img-cont1"><img src="<%=source%>/others/1.png"></div>
            <div class="img-cont2"><img src="<%=source%>/others/2.png"></div>
            <div class="img-cont3"><img src="<%=source%>/others/3.png"></div>
            <div class="img-cont4"><img src="<%=source%>/others/4.png"></div>

        </div>
        </div>
      </main>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $(".alt-pic").on("click", function() {
            var pic = $(".pro");
            pic.attr("src", $(this).find("img").attr("src")); // Update the src attribute
        });


    });
</script>

</html>


